
	.grid-container{
		display: grid;		
		width: 100%;
	}
	.grid-item{
		 
 
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
 
}
	
body{

	font-family: "Karla", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
@media only screen and (min-width: 768px)
{
	.grid-container{
		grid-template-columns: auto auto;
		
	}
}

h3{
	padding: 20px;
	letter-spacing: 1px;
	font-weight: 700;
	color: hsl(179, 62%, 43%);
}
h4{
	padding: 20px;
	color:white;
	margin-right: 20px;
	font-size: 20px;
	font-weight: 700;
}

.s1{
	font-size: 24px;
}
.left{
	background-color: hsl(179, 62%, 43%);
	color:white;

}
.right{
	background-color: hsl(186, 44%, 64%);
	line-height: 25px;
	color:white;
}

.signup{
	background-color: hsl(71, 73%, 54%);
border-color: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 120px;
  padding-left: 120px;
 text-align: center;
color:white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;

}
.intro {
	
	padding-left: 20px;
	color: hsl(179, 62%, 43%);
	background-color: white;
	
}
.intro h3{
	color:  hsl(71, 73%, 54%);
}
.intro h4{
	color:hsl(71, 73%, 54%);
}
.left-par{
	line-height: 30px;
}
.intro p{
	color:grey;
}
